@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --backsground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Keyframes for scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
    /* Additional utilities, for example, box shadows */
    .custom-shadow {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }
  
    /* Utility for custom padding */
    .padding-custom {
      padding: 20px;
    }
   /* Scroll animation utility */
   .animate-scroll {
    animation: scroll 15s linear infinite;
  }
}
